<div class="container">
  <h1>Crear Publicación</h1>
  <div *ngIf="!animalSeleccionado">
    <h2>Eligue el tipo de mascota</h2>
    <div class="card-container">
      <div class="card" (click)="animalSeleccionado = 'Perro'">
        <img src="assets/Imagenes/Perro.png" class="card-img-top" alt="Perro" />
        <div class="card-body">
          <h2 class="card-title">Perro</h2>
        </div>
      </div>

      <div class="card" (click)="animalSeleccionado = 'Gato'">
        <img src="assets/Imagenes/Gato2.png" class="card-img-top" alt="Gato" />
        <div class="card-body">
          <h2 class="card-title">Gato</h2>
        </div>
      </div>

      <div class="card" (click)="animalSeleccionado = 'Hamster'">
        <img src="assets/Imagenes/Hamster.png" class="card-img-top" alt="Hamster" />
        <div class="card-body">
          <h2 class="card-title">Hamster</h2>
        </div>
      </div>

    </div>
  </div>
  <div class="row" *ngIf="animalSeleccionado">
    <div class="col-md-6">
      <!-- Formulario -->
      <form *ngIf="animalSeleccionado === 'Perro'" (ngSubmit)="crearPublicacion()" [formGroup]="publicacionForm">
        <div>
          <label for="fotos">Fotos:</label>
          <input type="file" id="fotos" name="fotos" (change)="onFileSelected($event)" multiple accept="image/*" required>
          <p class="help-block">Sube de 1 a 5 fotos.</p>
        </div>
      
        <div>
          <label for="nombre">Nombre del perro:</label>
          <input type="text" id="nombre" formControlName="nombre" pattern="^(\w+\s?){1,4}$" placeholder="Hasta 4 palabras">
        </div>
      
        <div>
          <label for="descripcion">Descripción:</label>
          <textarea id="descripcion" formControlName="descripcion" required></textarea>
        </div>
      
        <div class="raza-cards">
          <div *ngFor="let raza of razas" (click)="selectedRaza = raza.nombre" [class.selected]="selectedRaza === raza.nombre">
            <img [src]="raza.imagen" alt="{{raza.nombre}}">
            <p>{{raza.nombre}}</p>
          </div>
        </div>
      
        <button type="submit">Crear publicación</button>
      </form>

      <form *ngIf="animalSeleccionado === 'Gato'" (ngSubmit)="crearPublicacion()" #publicacionForm="ngForm">
        <!-- Formulario para Gato -->
      </form>

      <form *ngIf="animalSeleccionado === 'Hamster'" (ngSubmit)="crearPublicacion()" #publicacionForm="ngForm">
        <!-- Formulario para Hamster -->
      </form>
    </div>

    <div class="col-md-6">
      <!-- Vista previa -->
      <div>
        <h2 style="text-align: center">Vista Previa de la Publicación</h2>
        <div class="card pointer" *ngIf="publicacionForm.value.nombreMascota || publicacionForm.value.descripcion || publicacionForm.value.raza || imagePreview">
          <img [src]="imagePreview || 'assets/Imagenes/default.jpg'" class="card-img-top" alt="Vista previa de la imagen"/>
          <div class="card-body">
            <span>
              <h3 class="card-text">
                {{ publicacionForm.value.nombreMascota }}
              </h3>
            </span>
            <span>
              <h4 class="card-text">
                Descripción: {{ publicacionForm.value.descripcion }}
              </h4>
            </span>
            <span>
              <h5 class="card-text">
                Raza: {{ publicacionForm.value.raza }}
              </h5>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
