<nav class="navbar navbar-expand-lg navbar-dark bg-color sticky-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/" style="color: #8B4513; font-weight: bold; font-size: x-large;">FiruPets</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" style="color: #8B4513; font-weight: 500; font-size: medium">Bienvenido</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gallery" style="color: #8B4513; font-weight: 500; font-size: medium">Adopta Ahora</a>
        </li>
      </ul>
      <div class="d-flex align-items-center justify-content-center justify-content-lg-end flex-grow-1">
        <button *ngIf="!(user$ | async); else loggedIn" class="btn btn-outline-light mx-lg-2" id="loginButton" (click)="openLoginModal()">Iniciar Sesión</button>
        <ng-template #loggedIn>
          <button class="btn btn-outline-light mx-lg-2" (click)="logout()">Cerrar Sesión</button>
        </ng-template>
      </div>
    </div>
  </div>
</nav>
