.gallery {
    display: flex;
    align-items: flex-start; /* Alinear los elementos al inicio verticalmente */
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap; /* Permitir que las cards se envuelvan en múltiples líneas */
    gap: 0px; /* Espacio entre las cards */
  }
  app-cards {
    height: 397.22px;
    width: 290.25px;
  }