<div class="row">
    <div class="col-md-3">
      <div class="welcome-text">
        <div class="text-center">
          <h1>Bienvenido a <span class="text-background">FiruPets</span></h1>
          <h3>Una Segunda Oportunidad</h3>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="parallax" [style.background-image]="'url(' + backgrounds[currentBackgroundIndex] + ')'">
      </div>
    </div>
  </div>

<div class="text-center py-5">
  <button class="btn btn-primary" routerLink="/gallery" style="background-color: #8B4513; border: none;">
    <h1 style="color: white; margin: 0;">Adopta Ahora</h1>
  </button>
</div>

<!--ESPACIO PARA COLOCAR ALGUN METODO DE COMENTARIOS DE USUARIOS CON SUS EXPERIENCIAS CON LA WEB-->



<!--Sobre Nosotros-->
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6">
      <h2>Sobre Nosotros</h2>
      <p>Bienvenido a FiruPets, el marketplace para adopción de mascotas. En FiruPets, nos apasiona conectar a las personas con mascotas necesitadas de amor y un hogar. Nuestra plataforma proporciona un espacio seguro y confiable para que las personas puedan publicar animales domésticos que necesitan ser adoptados, así como para aquellos que desean abrir sus corazones y hogares para darles un nuevo comienzo.</p>
      <p>En FiruPets, creemos en el poder de la compasión y la bondad hacia los animales. Nuestro objetivo es fomentar la adopción responsable y promover el bienestar animal en nuestra comunidad. Trabajamos arduamente para garantizar que cada mascota encuentre el hogar amoroso que se merece, y para brindar apoyo continuo a los adoptantes y a los animales durante todo el proceso de adopción y más allá.</p>
      <p>Únete a nosotros en nuestra misión de crear un mundo donde cada mascota tenga la oportunidad de vivir una vida feliz y saludable en un hogar lleno de amor. Juntos, podemos marcar la diferencia en la vida de innumerables animales y en los corazones de quienes los adoptan.</p>
    </div>
    <div class="col-lg-6">
      <img src="https://chivopets.sv/img/newPets/pets.png" alt="Sobre Nosotros" class="img-fluid">
    </div>
  </div>
</div>
<!--Footer-->
<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Enlaces útiles</h5>
        <ul class="list-unstyled">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Productos</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contacto</h5>
        <address>
          <strong>FiruPets</strong><br>
          123 Calle Principal<br>
          Ciudad, País<br>
          <abbr title="Phone">Teléfono:</abbr> (123) 456-7890
        </address>
      </div>
      <div class="col-md-4">
        <h5>Síguenos</h5>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="https://www.facebook.com/ChivoPet/"><i class="fab fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="https://twitter.com/chivopets"><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="https://www.instagram.com/chivopets?igshid=YmMyMTA2M2Y%3D"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
