<div class="card bg-dark text-white">
  <div class="card-body p-4 p-md-5 text-center">
    <div class="mb-md-4 pb-4 pb-md-5">
      <h2>
        {{ showResetPasswordForm ? "Restablecer contraseña" : "Inicia Sesion" }}
      </h2>
      <p>
        {{
          showResetPasswordForm
            ? "Introduce un correo registrado para recuperar tu contraseña. Te enviaremos un mensaje para restablecerla."
            : "¡Por favor, introduce tu Correo y Contraseña!"
        }}
      </p>

      <form (submit)="loginOrResetPassword()">
        <div class="form-floating mb-3 mb-md-4 custom-input">
          <input
            type="email"
            id="typeEmailX"
            class="form-control form-control-lg"
            placeholder=""
            [(ngModel)]="email"
            name="email"
            required
          />
          <label for="typeEmailX">Email</label>
        </div>

        <div
          class="form-floating mb-3 mb-md-4 custom-input"
          *ngIf="!showResetPasswordForm"
        >
          <input
            type="password"
            id="typePasswordX"
            class="form-control form-control-lg"
            placeholder=""
            [(ngModel)]="password"
            name="password"
            required
          />
          <label for="typePasswordX">Password</label>
        </div>

        <button class="btn btn-outline-light btn-lg px-5 mb-3" type="submit">
          {{
            showResetPasswordForm ? "Restablecer contraseña" : "Iniciar Sesion"
          }}
        </button>
      </form>
      <!-- Aquí es donde se mostrará el mensaje de error -->
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

      <p class="small mb-3 pb-lg-1">
        <a class="text-white-50" href="#!" (click)="toggleResetPasswordForm()">
          {{
            showResetPasswordForm
              ? "Volver a Iniciar Sesión"
              : "¿Has olvidado tu contraseña?"
          }}
        </a>
      </p>
      <p>{{ statusMessage }}</p>
      <button
        class="btn btn-lg btn-block"
        style="background-color: #dd4b39; color: white"
        (click)="loginWithGoogle()"
      >
        <i class="fab fa-google me-2"></i>Inicia con Google
      </button>
    </div>

    <div class="row"></div>
  </div>
</div>
